:root{
   --main-color: #e38528;
}

*{
   font-family: 'Roboto',sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   border: none; text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
   line-height: 1.5;

}

html
{
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body
{
   background-color: #fcf2e8;
   padding-left: 0rem;
}

.navbar
{
   font-size: 20px !important;
   height: 70px;
}

.imagecou
{
   width: 100%;
   position: absolute;
   border-radius: 8px;
   background-repeat: no-repeat !important;
   background-size: contain !important;
   opacity: 0.5 !important;
}
.navbar span
{
   color: var(--main-color);
   text-transform: uppercase;
}
.card-text span
{
   background-color: var(--main-color);
   border-radius: 5%;
   content: icon;
}
.card-text p a
{
   text-decoration: none !important;
   color: #111;
}
header .navbar input .form-control-dark:focus
{
   background: rgb(127, 213, 235) !important;
   border-radius: 1rem !important;
   padding: 1rem !important;
}

.sidebar
{
   background-color: #111 !important;
   color: #fcf2e8 !important;
}


.sidebar .nav-link {
   font-weight: 500;
   color: rgb(253, 251, 251);
 }

 .sidebar .nav-link:hover
 {
    font-size: 1.3rem;
    color: var(--main-color);
 }
 
 .sidebar .nav-link .feather {
   margin-right: 4px;
   color: #727272;
 }
 
 .sidebar .nav-link.active {
   color: var(--main-color);
 }
 
 .sidebar .nav-link:hover .feather,
 .sidebar .nav-link.active .feather {
   color: inherit;
 }
 
 .sidebar-heading {
   font-size: .75rem;
   text-transform: uppercase;
 }
 
 .carousel {
   margin-bottom: 9rem;
 }
 /* Since positioning the image, we need to help out the caption */
 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }
 
 /* Declare heights because of positioning of img element */
 .carousel-item {
   height: 32rem;
 }
 .carousel-item img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   height: 32rem;
   opacity: 0.8 !important;
 }
 .love
 {
    background-image: url(/kalamba/kalambapicha/love.jpg);
 }
 .text1
 {
    position: relative;
    font-size: 1rem;
    color: var(--main-color);
    margin-bottom: -4rem;
 }


 .footer
 {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;
    background: #fff;  
 }
 
 .footer span
 {
    color: var(--main-color);
 }
 